.headingone{
	background-color: red;
}

.text{
	border: 2px solid blue;
	font-size: 15px ;
	padding: 8px;
}
.abc{
	border: 2px solid red;
	font-size: 15px;
	background-color: red;

}
#text1{
	font-size: 20px;
	background-color: yellow;
}
